<h1>About Us</h1>
<html>
    <body>
        <p>We are the leading manufacturers, exporters and suppliers of powertransmissionbelt,special timing belt,timimgbelt,spongebelt,spongepad,conveyorbelt,S.S slatbelt,derlinbelt,nylonstrip belt,rubber strip belt,poly V-belt,all types of industrial pulleys,industrial rollers.all types of industrial machine parts, Our range meets the requirements of varied industries. All the products are procured from reliable vendors and manufacturers, who have industry expertise in the manufacturing of these engineering products.</br>
        We take this privilege to introduce ourselves as marketing agent for Gates and other imported timing belts imported flat tangential conveyor and polychrome belts. TBA, U.K make play ‘V’ belts Indian make Nylon      Sandwich  Belts. Special  wedge & ‘V’ Belts in 3V, 5V, 8V, SPZ, SPA, SPB, SPC sections.</br> 
        <h3>YEAR OF ESTABLISHMENT-1997</h3>
        - Our Product Profile...</br>
        - Top performance</br>
        - High quality</br>
        - Suitable for all environments</br>
        - Comfortable setup</br>
        <h3> Timely Deliverd...</h3>
        We provide timely delivery of our designed and developed products as we have a well knitted transportation network. Each and every employee of our organization is responsible to deliver the work within the stipulated time frame so that the final product reaches the clients within the mentioned time frame.</br>
        In order to maintain our deadlines and stick to them, we have appointed a team of product delivery managers to keep a complete track record of the products that are to be delivered and the estimated lead time by keeping a close contact with the production department. They know the expected lead time for delivery of the consignment within the prescribed delivery schedule to the desired destination.
        <h3>Team Management...</h3>
        We RUSHABH SALES have a brilliant team consisting of technocrats, engineers, designers, researchers and semi-skilled workers who work diligently to deliver all the products in the least possible lead time. We have good qualified employeds to get the best techniques and apply them in our manufacturing operations.
        <h2>Why Us ? ...<h2>
        <h3>Some of the factors that have attributed to our immaculate success are:</h3>
        - Quality products</br>
        - Customization</br>
        - Wide spread network</br>
        - Cost effective products</br>
        - Timely delivery</br>
        - Customer focused approach</br>
        </p>
    </body>
</html>
