<h1>Welcome to our site!</h1>
<head>
<p>We are the leading manufacturers, exporters and suppliers of powertransmissionbelt,special timing belt,timimgbelt,spongebelt,spongepad,conveyorbelt,S.S slatbelt,derlinbelt,nylonstrip belt,rubber strip belt,poly V-belt,all types of industrial pulleys,industrial rollers.all types of industrial machine parts,
Our range meets the requirements of varied industries. All the products are procured from reliable vendors and manufacturers, who have industry expertise in the manufacturing of these engineering products.
We take this privilege to introduce ourselves as marketing agent for Gates and other imported timing belts imported flat tangential conveyor and polychrome belts. TBA, U.K make play ‘V’ belts Indian make Nylon      Sandwich  Belts. Special  wedge & ‘V’ Belts in 3V, 5V, 8V, SPZ, SPA, SPB, SPC sections.
</p>
</head>
